name: Node.js CI

on:
  # mainにプルリクエストをすると起動する
  pull_request:
    branches:
      - main
  # それ以外のブランチではpushをすると起動する
  push:
    branches-ignore:
      - 'main' 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: npm install
    - run: npm run greet
