name: Check frontEnds

on:
  # mainにプルリクエストをすると起動する
  pull_request:
    branches:
      - main
  # それ以外のブランチではpushをすると起動する
  push:
    branches-ignore:
      - 'main' 

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16.x
    - name: Install packages
      run: npm ci
    - name: Prettier
      run: npm run format
    - name: Lint
      run: npm run lint